body {
    color: #444;
    font-family: 'Segoe WPC', 'Segoe UI', SFUIText-Light, HelveticaNeue-Light, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}
a {
    color: #007acc;
    text-decoration: none;
}
a:visited {
    color: #007acc;
}
a:hover {
    color: #007acc;
}
a:hover,
a:active {
    text-decoration: underline;
}
p {
    margin: 0;
}
p:not(:first-child) {
    margin-top: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #111;
    line-height: 1.2;
    margin: 1em 0 0.6em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
h4,
h5,
h6 {
    font-weight: bold;
    color: #444;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 0.9rem;
}
blockquote {
    margin: 0 0 0 0.25rem;
    padding-left: 0.65rem;
    border-left: 0.25rem solid #007acc;
    background: rgba(127, 127, 127, 0.1);
}
blockquote:not(:first-child) {
    margin-top: 1rem;
}
hr {
    display: block;
    border: 0;
    height: 2px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.18);
    margin: 0;
}
hr:not(:first-child) {
    margin-top: 1rem;
}
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
s,
del {
    text-decoration: line-through;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5rem;
}
sub {
    bottom: -0.25rem;
}
ul,
ol {
    padding: 0 0 0 2rem;
    margin: 0;
}
ul:not(:first-child),
ol:not(:first-child) {
    margin-top: 1rem;
}
img {
    border: 0;
    max-width: 100%;
    display: block;
    max-height: 50vh;
}
table {
    border-collapse: collapse;
}
table:not(:first-child) {
    margin-top: 1rem;
}
table > thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
table > thead > tr > th {
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 0.69);
}
table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td {
    padding: 0.25rem 0.5rem;
}
table > tbody > tr + tr > td {
    border-top: 1px solid rgba(0, 0, 0, 0.18);
}
code {
    color: #000;
    font-family: Menlo, Monaco, Consolas, 'Droid Sans Mono', 'Courier New', monospace;
    background: rgba(127, 127, 127, 0.1);
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}
pre {
    white-space: pre;
    margin: 0;
}
pre:not(:first-child) {
    margin-top: 1rem;
}
pre > code {
    font-family: Menlo, Monaco, Consolas, 'Droid Sans Mono', 'Courier New', monospace;
    background: rgba(127, 127, 127, 0.05);
    display: block;
    padding: 0.65rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.18);
    overflow: auto;
}